* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  font-size: 18px;
  --light-theme-bg: #fff;
  --light-theme-text: #290963;
  --dark-theme-bg: #150139;
  --dark-theme-text: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-dm-sans), "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: var(--light-theme-text);
  ;
  transition: background-color 0.3s, color 0.3s;
}

:root.dark,
:root.dark body {
  background-color: var(--dark-theme-bg);
  color: var(--dark-theme-text);
  ;
}

body {
  line-height: 1.6;
}

a {
  color: var(--light-theme-text);
}

:root.dark a {
  color: var(--dark-theme-text);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea {
  font-family: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
}