* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  font-size: 18px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-dm-sans), "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #111;
}

body {
  line-height: 1.6;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea {
  font-family: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
}