.backLink {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 2rem;
  color: var(--light-theme-text);

}



:global(.dark) .backLink {
  color: var(--dark-theme-text);
}
