.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
}

.logoCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 0.5rem;
  text-decoration: none;
  color: var(--light-theme-text);

  /* text-align: center; */
}

.logoCard img {
  width: 100%;
  max-width: 140px;
  height: auto;
}

.logoCard span {
  font-size: 0.9rem;
}