.courseList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.courseCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.courseCard:not(:last-child) {
  border-bottom: 1px solid #373737;
  padding-bottom: 1rem;
}