.toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.toggle:hover {
  background-color: rgb(79 0 149 / 5%);
}

:global(.dark) .toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: .9rem;
  line-height: 1;
  user-select: none;
  filter: grayscale(100%);
}

.iconDark {
  font-size: 0.8rem;
}

.slider {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  background-color: #6111e7;
  border-radius: 1rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

:global(.dark) .slider {
  background-color: #494949;
}

.sliderThumb {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--light-theme-bg);
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sliderThumbDark {
  transform: translateX(1.5rem);
}