.footer {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer,
.footer a {
  color: #1a1a1a;
}

.footer a {
  text-decoration: none;
}

.contactLinks {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  filter: grayscale(100%);
  transition: filter 0.1s cubic-bezier(0.4, 0, 0.2, 1);

}

.textWrapper:hover,
.textWrapper:focus-visible {
  filter: grayscale(0%);
}

.text {
  font-size: 14px;
}