.footer {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* text-transform: uppercase;
  letter-spacing: 0.08em; */

}

.footer,
.footer a {
  color: #1a1a1a;
}

.footer a {
  text-decoration: none;
}

.footer li,
.footer p {
  font-size: 14px;
  filter: grayscale(100%);
  transition: filter 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer li:hover,
.footer li:focus-visible,
.footer p:hover,
.footer p:focus-visible {
  filter: grayscale(0%);
}

.contactLinks {
  display: flex;
  gap: 1rem;
}

.email {
  color: #111;
}

.socialLinks {
  display: flex;
  gap: 1.5rem;
}

.socialLinks a {
  color: #111;
  text-decoration: none;
}

.socialLinks a:hover,
.socialLinks a:focus-visible {
  text-decoration: underline;
}