.shell {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: var(--light-theme-text);
  ;
  transition: background-color 0.3s, color 0.3s;
}

:global(.dark) .shell {
  background: var(--dark-theme-bg);
  color: var(--dark-theme-text);
}

.main {
  flex: 1;
  padding: 0rem 1.5rem 3rem;
}

@media (min-width: 768px) {
  .main {
    padding: 2rem 2.5rem 4rem;
  }
}