.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ratioBox {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  max-width: 800px;
  background: #eaeaea;
}

.player {
  position: absolute !important;
  top: 0;
  left: 0;
}